

.headerWrapper {
	display: flex;
    align-items: center;
	justify-content: flex-end;
	position: relative;
	background-color: #0d0d11;
	color: #ffffff;
    font-family: "Bahnschrift";
    height: 20vh;
}

.headerWrapper * {
    margin-right: 15px;
    margin-top: 23px;
}

.logoContainer {
    position: absolute;
    left: 60px;
    top: -15px;
}

.logoContainer img {
    border-radius: 15%;
}

.circularText {
    margin-left: 20px;
    margin-right: 20px;
}

.navHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.hyphens {
    font-size: 9px;
    border-bottom: 1px solid #595959;
    margin-top: -3px;
}

.imageContainer{
    width: 12rem;
    height: 12rem;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navRowStyle{
    display:flex;
}

@media only screen and (max-width: 768px) {
    .imageContainer{
        width: 4rem;
        height: 4rem;
    }

    .logoContainer {
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .headerWrapper *{
        margin:0;
    }
    .circularText {
        position: absolute;
        right: 0;
        top: 5px;
    }
    .navHeading{
        font-size: 0.75rem;

    }
    .navRowStyle{
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
    .headerWrapper {
        justify-content: center;
    }

}
/* #test */