.paraGrid {
	margin: 10vh 10vw;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1vh 5vw;
}
.paraContainer {
	margin-top: 3rem;
	font-family: "Bahnschrift";
}

.paraTitle {
	color: #cfab48;
	font-size: 2.1rem;
	font-family: "Bahnschrift";
	margin-bottom: 1.5rem;
	max-width: 30.6ch;
	overflow: hidden;
	white-space: nowrap;
}

/* https://stackoverflow.com/a/20422695 */
.paraTitle::after {
	content: "meowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeow";
	color: transparent;
	border-bottom: 1px solid #cfab48;
    margin-bottom: -0.5rem;
	font-size: 1.3rem;
}

.paraContent {
	color: white;
	font-size: 1.2rem;
	font-family: "Bahnschrift";
	text-align: justify;
}

.goldenLine {
	border-top: 2px solid #cfab48;
	width: 100%;
}
