.productsContainer {
	margin-bottom: 10rem;
}

.partTitle {
	text-align: center;
	font-size: 2rem;
	color: white;
	width: 100%;
	display: block;
	margin-bottom: 3rem;
}

.goldTypeHolder {
	display: flex;
	align-items: center;
	justify-content: center;
}

.goldTypeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.goldTypeContainer:not(:last-child) {
	margin-right: 3rem;
}

.goldType {
	text-align: center;
	font-weight: 100;
	font-size: 9rem;
	color: white;
	display: block;
}

.separatorHyphen {
	display: block;
	width: 7ch;
	height: 1px;
	background-color: #ddc260;
	margin: 0 0.5rem;
}

.barsContainer {
	color: #dec25f;
	display: flex;
	width: max-content;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	background-color: #0e0d12;
	padding: 2rem 6rem;
	border-radius: 50px;
	margin-bottom: 4rem;
}

.goldBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #dec25f;
	padding: 2rem 0.8rem;
	border-radius: 22px;
}

.logoContainer {
	min-width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.7rem;
}

.gramsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.4rem 0.2rem;
	border: 1px solid #dec25f;
	border-radius: 12px;
	font-size: 1.5rem;
	min-width: 4ch;
}

.gramsContainer .unit {
	font-size: 1.7rem;
	font-weight: bold;
}

.separator {
	display: block;
    width: 1px;
    height: 425px;
    border-right: 1px solid #ddc260;
    margin: 1rem 1.2rem;
}

.separator:last-child {
	display: none;
}

.goldTypeSmall {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.barNumber {
	font-size: 1.2em;
}

