.productsContainer {
	margin-bottom: 10rem;
	padding-top: 2rem;
}

.marginTop {
	margin-top: 5rem;
}

.partTitle {
	text-align: center;
	font-size: 2rem;
	color: white;
	width: 100%;
	display: block;
	margin-bottom: 3rem;
}

.goldTypeHolder {
	width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.goldTypeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:5vw 2vw;
	transition: transform 0.2s ease;
}
.goldTypeContainer:hover{
	transform: scale(1.05);
}

.goldTypeContainer:not(:last-child) {
	margin-right: 3rem;
}

/* #TODO Fix font weight here  */
.goldType {
	text-align: center;
	font-family: "Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;;
	font-weight: 200;
	font-size: 4rem;
	color: rgb(156, 156, 156);
	display: block;
}

.separatorHyphen {
	display: block;
	width: 3ch;
	height: 1px;
	background-color: #ddc260;
	margin: 0 0.5rem;
}

.barsContainer {
	color: #dec25f;
    display: flex;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #0e0d12;
    padding: 6rem 2rem;
    border-radius: 50px;
    margin-bottom: 4rem;
    max-width: 85vw;
}

.barsImage {
	width: 100%;
}

.goldBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #dec25f;
	padding: 2rem 0.8rem;
	border-radius: 22px;
}

.logoContainer {
	min-width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.7rem;
}

.gramsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.4rem 0.2rem;
	border: 1px solid #dec25f;
	border-radius: 12px;
	font-size: 1.5rem;
	min-width: 4ch;
}

.gramsContainer .unit {
	font-size: 1.7rem;
	font-weight: bold;
}

.separator {
	display: block;
    width: 1px;
    height: 425px;
    border-right: 1px solid #ddc260;
    margin: 1rem 1.2rem;
}

.separator:last-child {
	display: none;
}

.goldTypeSmall {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.barNumber {
	font-size: 1.2em;
}

.finalNotes {
	color: white;
	font-size: 1.7rem;
	width: 75%;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	
}

.leftBox, .rightBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hereButton {
	margin-top: 2rem;
	padding: 1rem 2rem;
	background-color: #111111;
	border: 1px solid #dcbe5b;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	border-radius: 30px;
	transition: transform 0.5s ease;
}
.hereButton:hover{
	transform: scale(1.05);
}
.hereButton span {
	font-size: 4rem;
	color: #dcbe5b;
	margin-left: 0.5rem;
}

.hereButton a {
	text-decoration: none;
	color: inherit;
}

.hereButton img {
	margin-top: 0.5rem;
}

.iconsContainer {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}


.iconsContainer .iconContainer{
	transition: transform 0.2s ease;
}
.iconsContainer .iconContainer:hover{
		transform: scale(1.13);
}

	
.iconsContainer .iconContainer:not(:last-child) {
	margin-right: 1.5rem;
}



/* Media queries */
@media only screen and (max-width: 768px) {
	.productsContainer{
		margin-bottom: 5rem;
	}

	.barsContainer{
		width: 81vw;
		margin: 0.5rem auto;
		padding: 1rem 0.7rem;
	}
	.barsContainer img{
		width: 98%;
	}

	.finalNotes {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.titleContent {
		margin-top: 3rem;
		font-size: 1rem;
	}
	.hereButton span{
		font-size: 3rem;
	}
	.goldType{
		font-size: 1.2rem;
		font-weight: 500;
	}
	.separatorHyphen{
		width: 1ch;
	}
	.goldTypeContainer{
		padding: 0;
		margin-left:1rem;
	}
	.goldTypeContainer:not(:last-child) {
		margin-right: -0.9rem;
		margin-left: 0.8rem;
	}
	.goldTypeContainer{
		margin-top:0vh;
	}
	.marginTop {
		margin-top: 1rem;
	}
	
}
  