.titleText{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-family: "Bahnschrift";
    text-align: center;
}

.seperator{
    border-bottom: 3px solid #595959;
    width: 10vw;
    margin: auto;
    margin-top: 3vh;

}
.titleContainer{
    margin-top: 2vh;
    margin-bottom: 2vh;
}