.titleText{
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-family: "Bahnschrift";
    text-align: center;
}

.seperator{
    border-bottom: 5px solid #595959;
    width: 13vw;
    margin: auto;
    margin-top: 3vh;

}
.titleContainer{
    margin-top: 12vh;
}