.heroSlider {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: auto;
}

.quoteContainer {
	background-color: #0c0c0c;
	width: 100%;
	height: 15vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 4rem;
}

.quoteSpan {
	margin-top: 0.5rem;
	color: #8e8e8e;
}

.wrapper {
	padding: 1rem;
	width: 100%;
}

.headingTitle {
	text-align: center;
	font-size: 2rem;
	color: white;
	width: 100%;
	display: block;
	margin-bottom: 3rem;
}

.liveSpotPriceContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 4rem;
}

.formContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
	border: 1px solid #ddc260;
	border-radius: 35px;
	padding: 2rem;
}

.countrySelect,
.puritySelect {
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	background-color: #0c0c0c;
	color: #ffffff;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: 0.5em 1em;
	width: 100%;
	outline: none;
	border-radius: 23px;
	background-image: url(/icons/countryDown.svg);
	background-position: right 4px bottom 0px;
	background-repeat: no-repeat;
	background-size: 50px;
}

.countrySelect option:hover,
.countrySelect option:focus,
.countrySelect option:active,
.puritySelect option:hover,
.puritySelect option:focus,
.puritySelect option:active {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#000000),
		to(#000000)
	);
	background: -o-linear-gradient(#000000, #000000);
	background: linear-gradient(#000000, #000000);
	background-color: #000000 !important;
	color: #ffed00 !important;
}

.countrySelect option:checked,
.puritySelect option:checked {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#d6d6d6),
		to(#d6d6d6)
	);
	background: -o-linear-gradient(#d6d6d6, #d6d6d6);
	background: linear-gradient(#d6d6d6, #d6d6d6);
	background-color: #d6d6d6 !important;
	color: #000000 !important;
}

.value {
	font-size: 3.5rem;
	width: 100%;
	background-color: #0c0c0c;
	text-align: center;
	color: white;
	padding: 0.9rem 0.2rem;
	margin: 0;
	border-radius: 23px;
	margin-top: 0.6rem;
}

.gridChoosePrice {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 2fr 4vw 4fr;
	grid-template-columns: 2fr 4fr;
	margin: 0 10vw;
	grid-gap: 4vw;
}

.iconsContainer {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.5rem 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5rem;
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
	border: 1px solid #ddc260;
	border-radius: 65px;
	padding: 3rem 2.5rem;
}

.iconDiv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.iconDiv span {
	font-size: 2rem;
	color: #ffffff;
	max-width: 14ch;
	margin-left: 1rem;
}

.iconDiv:nth-child(2) span {
	max-width: 15ch;
}

.iconDiv:nth-last-child(-n + 2) {
	margin-bottom: 0;
}
