.links{
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
}
.wholeContactDetails{
    scale:85%;
}
.contactFlex{
    display:flex; 
    justify-content: center;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: 2vh;
    height: 10vh;
}

.twoRowDivs{
    font-family: "Bahnschrift";
    color:white;
    font-size: 2rem;
    margin:0 2vw;
    align-items: center;
    margin: auto 1vw;
}
.iconFlexDiv{
    display:flex;
    font-family: "Bahnschrift";
    color:white;
    font-size: 2rem;
    font-weight: 300;
}

.phoneIcon{
    width: 4rem;
    height: auto;
}

.phoneNo{
    font-family: "Bahnschrift";
    color:white;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: 2.4rem;
}

.addressDiv{
    font-family: "Bahnschrift";
    color:white;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 15vh;
    text-align: center;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .contactFlex{
        margin-top: 8vh;
    }
    .wholeContactDetails{
        scale:95%;
        margin-bottom: 24vh;
    }
    .phoneNo{
        font-size: 1rem;
    }
    .addressDiv{
        font-size: 1rem;
        font-weight: 300;
    }
    .twoRowDivs{
        font-size: 1rem;
    }
    .iconFlexDiv{
        font-size: 1rem;
    }
    .iconFlexDiv a{
        padding-top: 0.75rem;
    }
    .phoneIcon{
        width: 3rem;
        height: auto;
    }
}