.lineContainer{
    margin: 8vw 25vw;
    margin-bottom: 30vh;
    z-index: 20;
    position: relative;
}
.circularText{
    position: absolute;
    left: -40px;
    top: -52px;
    z-index: -1;
}
.line{
    color:white;
    font-family: "Bahnschrift";
    font-size: 1.5rem;
    margin-bottom: 4vh;
    text-align: justify;
}