.lineContainer{
    margin: 8vw 20vw;
    margin-bottom: 30vh;
    z-index: 20;
    position: relative;
}
.circularText{
    position: absolute;
    left: -40px;
    top: -52px;
    z-index: -1;
}
.line{
    color:white;
    font-family: "Bahnschrift";
    font-size: 2rem;
    margin-bottom: 4vh;
    line-height: 3rem;
    text-align: justify;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .lineContainer{
        margin: 10vw;
        margin-bottom: 10vh;
    }
    .line{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}